<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->
<html>

    <body>
        <h1>About Page</h1>
        <div>
            Rango says here is the about page
        </div>
        <div>                                                               
                                          
            <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of dog x" /> 
        </div>

        <h2>This tutorial has been put together by Euan Macqueen</h2>
        <a href="/rango/">Home</a><br />
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />   
    </body>

</html>

